<div class="calendar">

  <div class="calendar-month">
    <button class="prev" (click)="setPrev()"></button>
    <button class="next" (click)="setNext()"></button>
    <span class="month-name">{{monthName}}</span>
  </div>

  <table class="calendar-days">
    <thead>
      <tr>
        <th class="day-header" *ngFor="let dayOfWeek of daysOfWeek">{{dayOfWeek}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dayRow of dayRows">
        <td class="day-body" *ngFor="let day of dayRow">
          <day [data]="day"></day>
        </td>
      </tr>
    </tbody>
  </table>

</div>
