.head-with-body {
  position: relative;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  position: relative;
  width: 100%
}

table th {
  height: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

table td {
  width: 14.28%;
  border: 1px solid black;
  padding: 1px;
  vertical-align: top;
  position: relative;
  padding: 0;
}

table td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.editor-bg {
  opacity: 0;
}
