<div class="head-with-body">
  <table>
    <thead>
      <tr>
        <th *ngFor="let dayOfWeek of daysOfWeek">{{dayOfWeek}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dayRow of dayRows">
        <td *ngFor="let day of dayRow">
          <day [data]="day"
          (onEditorShown)="isBgShown = true"
          (onEventAdded)="addEvent($event, day.dayNumber)"
          (onEventDeleted)="deleteEvent($event, day.dayNumber)"
          [isBgShown]="isBgShown"></day>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="abs-full-cover editor-bg"
  *ngIf="isBgShown"
  (click)="isBgShown = false">
  </div>
</div>
