.calendar-month {
  text-align: center;
  overflow: hidden;
  background: #F5F6F7;
  font-size: 3rem;
  line-height: 2;
}

.prev {
  float: left;
  margin-left: 2rem;
}

.next {
  float: right;
  margin-right: 2rem;
}

.prev, .next {
  margin-top: 3rem;
  transform: translateY(-50%);
}

.prev:before {
  content: '<';
  width: 2rem;
  height: 2rem;
}

.next:after {
  content: '>';
}

.month-name {
  color: green;
}
