html { font-size: 62.5%; }

.app-container {
  max-width: 650px;
  margin: 1rem auto;
}

.abs-full-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
}
